.profile-desc {
  //   background: rosybrown;
  width: 100%;
  height: 65vw;

  div {
    display: none;
  }

  .selected {
    display: inline-block;
  }
}

@media (min-width: 720px) {
  .profile-desc {
    height: 60vw;
  }
}

@media (min-width: 900px) {
  .profile-desc {
    height: 37vw;
    width: 50%;
  }
}
