.profile-img {
  position: relative;
  //background: skyblue;
  //width: 100%;

  img {
    position: absolute;
    //box-sizing: content-box;
    max-height: 90%;
    //background-color: skyblue;
    //width: 80%;
    // left: 15%;
    // bottom: -5%;
  }
}

@media (min-width: 720px) {
  .profile-img {
    height: 60vw;
    img {
      padding: 5vw 5vw;
    }
  }
}

@media (min-width: 900px) {
  .profile-img {
    height: 37vw;
    width: 50%;

    img {
      padding: 5vw 1vw;
    }
  }
}
