li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.title {
  margin-right: auto;
  font-size: 30px;
}

.nav {
  display: block;
}

// .nav-toggle {
//   display: inline;
//   padding: 9px 0px;
//   button {
//     background: #3a3a3a;
//     color: white;
//   }
// }

.nav__links {
  list-style: none;

  li {
    display: inline-block;
    padding: 0px 1vw;

    a {
      transition: all 0.3s ease 0s;

      &:hover {
        color: rgb(238, 171, 47);
      }
    }
  }
}

.disappear {
  display: none;
}

.italics {
  font-style: italic;
}

// @media (min-width: 900px) {
//   // .nav {
//   //   display: inline;
//   // }
//   // #nav-dropdown {
//   //   display: none;
//   // }
//   // .nav-toggle {
//   //   display: none;
//   // }
// }

@media (max-width: 720px) {
  .nav__links li {
    display: block;
    margin: 5px;
  }
}
