$boxWidth: 80%;
$boxHeight: 70%;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

@import "./nav";
//@import "./img";
@import "./desc";

body {
  background: rgb(238, 171, 47);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}

#content {
  background: #3a3a3a;
  position: absolute;
  width: $boxWidth;
  left: 50%;
  margin-left: -0.5 * $boxWidth;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.2), 0 -14px 8px 0 rgba(0, 0, 0, 0.2),
    14px 0px 8px 0 rgba(0, 0, 0, 0.2), -14px 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.profile-container {
  display: flex;
  flex-wrap: wrap;

  .profile-img {
    position: relative;
    height: 37vw;
    width: 50%;
    img {
      left: 15%;
      bottom: -5%;

      position: absolute;
      max-height: 90%;
      padding: 5vw 1vw;
    }
  }

  .profile-desc {
    color: white;
    box-sizing: border-box;
    padding-right: 8%;
    margin-bottom: 4%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.8;
    overflow-y: scroll;

    a {
      transition: all 0.3s ease 0s;

      &:hover {
        color: rgb(238, 171, 47);
      }
    }
  }
}

@media (max-width: 900px) {
  .profile-container {
    display: block;
    .profile-img {
      margin: auto;
      img {
        max-height: 100%;
        bottom: -10%;
        //min-height: 300px;
      }
    }
    .profile-desc {
      padding-left: 8%;
      padding-right: 8%;
      padding-bottom: 0%;
    }
  }
}
